<ion-content>

  <section id="sectionA">

    <div class="bloco1">
      <img src="../../../assets/user.jpg"/>
    </div>

    <div class="bloco2">
      <ion-label>
        <ion-text>Hello, Pori</ion-text>
        <p>Good Morning</p>
      </ion-label>
    </div>

    <div class="bloco3">
      <ion-button fill="clear">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </div>

  </section>

  <section id="sectionB">
    <ion-searchbar placeholder="Search Password" class="searchbar"></ion-searchbar>
  </section>

  <section id="sectionC">
    <ion-text>Categorias</ion-text>
  </section>

  <section id="sectionD">

    <swiper-container 
      slides-per-view="3" 
      speed="1200" 
      loop="false" 
      css-mode="false" 
      navigation="false" 
      pagination="false"
      scrollbar="false">
      <swiper-slide *ngFor="let item of [1,2,3,4,5,6,7,8]" lazy="false">
        <div class="card">
          <ion-icon name="shield-half-outline"></ion-icon>
          <p>Logins</p>
        </div>
      </swiper-slide>
    </swiper-container>
    
  </section>

</ion-content>
