<ion-content>

  <section id="sectionA">

    <div class="bloco1">
      <img src="../../../assets/user.jpg"/>
    </div>

    <div class="bloco2">
      <ion-label>
        <ion-text>Hello, Pori</ion-text>
        <p>Good Morning</p>
      </ion-label>
    </div>

    <div class="bloco3">
      <ion-button fill="clear">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </div>

  </section>

  <section id="sectionB">
    <ion-searchbar placeholder="Search Password" class="searchbar"></ion-searchbar>
  </section>

</ion-content>
