@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.searchbar {
    --box-shadow: none;
    --background: rgb(225, 225, 225);
    --border-radius: 60px;
    --placeholder-font-weight: bold;
    --placeholder-opacity: 0.2;
    padding: 0;
    margin-bottom: 10px;
    width: 94%;
    margin: 0 auto;
    margin-top: 20px;
    .searchbar-input-container {
        input {
            font-size: 14px !important;
            color: rgb(93, 93, 93);
            // padding-top: 14px !important;
            // padding-bottom: 14px !important;
        }
    }
    .searchbar-search-icon {
        width: 25px;
        height: 25px;
        color: rgb(188, 188, 188);
        margin-top: -2px;
    }
}
